
.container-produtos-array {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.produto {
  justify-content: end;
  align-items: end;
  display: flex;
  flex-direction: column;
  transition: 0.1s;
  width: 25%;
  height: 480px;
  text-align: center;
  padding: 0px 0px 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.062);
}
.produto:hover {cursor: pointer;}
.produto p {
  color: black;
  margin-top: 4px;
  padding: 5px 10px;
}
.dados {
  width: 100%;
  height: 60px;
}

.header .img-fundo {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-fundo h1 {
  font-size: 3em;
}
.filtros {
  width: 100%;
  height: 80px;
}

#favorite-produto {
  color: rgb(0, 0, 0);
  padding: 5px;
  transition: 0.1s;
  zoom: 80%;
  position: relative;
  top: 10px;
  right: 10px;
  zoom: 100%;
}

#favorite-produto:hover {
  transition: 0.1s;
}

.notificar {
  position: absolute;
  background-color: red;
  font-size: 0.4em;
  color: white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 23px;
  right: 84px;
  transition: 0.1s;
}

.container-dados-produto {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.dados-produto button {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  color: white;
  background-color: black;
  transition: 0.1s;
  font-size: 0.9em;
}
.dados-produto button:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.1s;
  cursor: pointer;
}
.container-dados-produto p {
  color: black;
}
.img-produto {
  background-position: center center;
  width: 50%;
  height: 700px;
  background-size: cover;
}
.dados-produto {
  background-color: #F3EFEC;
  width: 40%;
  height: 300px;
  padding: 10px;
}
.div-flutuante a {
  text-decoration: none;
  color: rgb(81, 81, 81);
}
.div-flutuante a:hover {
  color: black;
}
.div-flutuante a span {
  display: flex;
  align-items: center;
  padding: 10px;
}

#img-produto-style {
  transform: scale(0.7);
  height: 100%;
}

.produtos-adicionados-no-carrinho section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.produtos-adicionados-no-carrinho section p {
  color: black;
}
.produtos-adicionados-no-carrinho section #img-carrinho {
  justify-content: start;
  align-items: end;
  display: flex;
}
.produtos-adicionados-no-carrinho section #img-carrinho p {
  background-color: rgba(0, 0, 0, 0.817);
  color: white;
  font-size: 0.8em;
  padding: 4px;
}
.produtos-adicionados-no-carrinho section {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.produtos-adicionados-no-carrinho section div button {
  width: 50px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.produtos-adicionados-no-carrinho section div button:hover {
  cursor: pointer;
}
.produtos-adicionados-no-carrinho section div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.number {
  font-size: 1.2em;
}


@media screen and (max-width: 1250px) {
  .produto {
    width: 25%;
    height: 400px;
  }
}

@media screen and (max-width: 950px) {
  .produto {
    width: 33.3%;
    height: 398px;
  }
  .container-dados-produto {
    flex-wrap: wrap;
  }
  .img-produto {
    background-position: center center;
    width: 90%;
    height: 580px;
  }
  .dados-produto {
    padding: 10px;
    width: 100%;
  }

  #img-produto-style {
    transform: scale(0.6);
    height: 90%;
  }
}

@media screen and (min-width: 850px) {
  .notificar {
    right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .div-flutuante a span {
    padding: 8px;
  }
  .img-produto {
    background-position: center center;
    width: 100%;
    height: 390px;
  }
  .produto {
    width: 50%;
    height: 400px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 90%;
  }
}

@media screen and (max-width: 500px) {
  .notificar {
    right: 69px;
  }
}

@media screen and (max-width: 360px) {
  .produto {
    height: 300px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 90%;
  }
}

@media screen and (max-width: 290px) {
  .produto {
    width: 100%;
    height: 480px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 100%;
  }
}