
.container-produtos-array {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.produto {
  justify-content: end;
  align-items: end;
  display: flex;
  flex-direction: column;
  transition: 0.1s;
  width: 25%;
  height: 480px;
  text-align: center;
  padding: 0px 0px 10px 0px;
  border: 1px solid rgba(194, 194, 194, 0.495);
}
.produto:hover {cursor: pointer;}
.produto p {
  color: black;
  margin-top: 4px;
  padding: 5px 10px;
}
.dados {
  width: 100%;
  height: 60px;
}

.header .img-fundo {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-fundo h1 {
  font-size: 3em;
}
.filtros {
  width: 100%;
  height: 80px;
}

#favorite-produto {
  color: rgb(0, 0, 0);
  padding: 5px;
  transition: 0.1s;
  zoom: 80%;
  position: relative;
  top: 10px;
  right: 10px;
  zoom: 100%;
}

#favorite-produto:hover {
  transition: 0.1s;
}

.container-dados-produto {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}
.container-dados-produto p {
  color: black;
}
.img-produto {
  background-position: center center;
  width: 50%;
  height: 700px;
  background-size: cover;
}
.dados-produto {
  background-color: #F3EFEC;
  width: 40%;
  height: 300px;
  padding: 10px;
}
.div-flutuante a {
  text-decoration: none;
  color: rgb(81, 81, 81);
}
.div-flutuante a:hover {
  color: black;
}
.div-flutuante a span {
  display: flex;
  align-items: center;
  padding: 10px;
}

#img-produto-style {
  transform: scale(0.7);
  height: 100%;
}

@media screen and (max-width: 1250px) {
  .produto {
    width: 25%;
    height: 400px;
  }
}

@media screen and (max-width: 950px) {
  .produto {
    width: 33.3%;
    height: 398px;
  }
  .container-dados-produto {
    flex-wrap: wrap;
  }
  .img-produto {
    background-position: center center;
    width: 90%;
    height: 580px;
  }
  .dados-produto {
    padding: 10px;
    width: 100%;
  }

  #img-produto-style {
    transform: scale(0.6);
    height: 90%;
  }
}

@media screen and (max-width: 600px) {
  .div-flutuante a span {
    padding: 8px;
  }
  .img-produto {
    background-position: center center;
    width: 100%;
    height: 390px;
  }
  .produto {
    width: 50%;
    height: 400px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 90%;
  }
}

@media screen and (max-width: 360px) {
  .produto {
    height: 300px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 90%;
  }
}

@media screen and (max-width: 290px) {
  .produto {
    width: 100%;
    height: 480px;
  }
  #img-produto-style {
    transform: scale(0.7);
    height: 100%;
  }
}